@font-face {
    font-family: "amastery-script";
    src: url("~@/assets/fonts/amastery-script.otf");
}

@font-face {
    font-family: "arctic";
    src: url("~@/assets/fonts/arctic.otf");
}

@font-face {
    font-family: "argentinian-nights-by-kestrel-montes";
    src: url("~@/assets/fonts/argentinian-nights-by-kestrel-montes.otf");
}

@font-face {
    font-family: "aurelia";
    src: url("~@/assets/fonts/aurelia.otf");
}

@font-face {
    font-family: "bekafonte";
    src: url("~@/assets/fonts/bekafonte.otf");
}

@font-face {
    font-family: "bella-script";
    src: url("~@/assets/fonts/bella-script.otf");
}

@font-face {
    font-family: "bonkers";
    src: url("~@/assets/fonts/bonkers.otf");
}

@font-face {
    font-family: "crystal-sky";
    src: url("~@/assets/fonts/crystal-sky.otf");
}

@font-face {
    font-family: "enyssala";
    src: url("~@/assets/fonts/enyssala.otf");
}

@font-face {
    font-family: "frutilla-script";
    src: url("~@/assets/fonts/frutilla-script.otf");
}

@font-face {
    font-family: "kasting-script";
    src: url("~@/assets/fonts/kasting-script.ttf");
}

@font-face {
    font-family: "kenstein";
    src: url("~@/assets/fonts/kenstein.otf");
}

@font-face {
    font-family: "king-basil-lite";
    src: url("~@/assets/fonts/king-basil-lite.otf");
}

@font-face {
    font-family: "legacy";
    src: url("~@/assets/fonts/legacy.otf");
}

@font-face {
    font-family: "legothick";
    src: url("~@/assets/fonts/legothick.ttf");
}

@font-face {
    font-family: "lovestone-script";
    src: url("~@/assets/fonts/lovestone-script.otf");
}

@font-face {
    font-family: "madina-script-alt";
    src: url("~@/assets/fonts/madina-script-alt.ttf");
}

@font-face {
    font-family: "magenta-script";
    src: url("~@/assets/fonts/magenta-script.otf");
}

@font-face {
    font-family: "malina";
    src: url("~@/assets/fonts/malina.otf");
}

@font-face {
    font-family: "nexa-bold";
    src: url("~@/assets/fonts/nexa-bold.otf");
}

@font-face {
    font-family: "peyton-script";
    src: url("~@/assets/fonts/peyton-script.otf");
}

@font-face {
    font-family: "philosophy-script";
    src: url("~@/assets/fonts/philosophy-script.otf");
}

@font-face {
    font-family: "playlist-script";
    src: url("~@/assets/fonts/playlist-script.otf");
}

@font-face {
    font-family: "questa-whitte";
    src: url("~@/assets/fonts/questa-whitte.ttf");
}

@font-face {
    font-family: "road-crew-regular";
    src: url("~@/assets/fonts/road-crew-regular.otf");
}

@font-face {
    font-family: "sakura-regular";
    src: url("~@/assets/fonts/sakura-regular.otf");
}

@font-face {
    font-family: "shania";
    src: url("~@/assets/fonts/shania.otf");
}

@font-face {
    font-family: "vanilla-daisy-pro";
    src: url("~@/assets/fonts/vanilla-daisy-pro.otf");
}

@font-face {
    font-family: "venture";
    src: url("~@/assets/fonts/venture.otf");
}

@font-face {
    font-family: "walto-graph-42";
    src: url("~@/assets/fonts/walto-graph-42.ttf");
}

@font-face {
    font-family: "wild-ones-personal-use";
    src: url("~@/assets/fonts/wild-ones-personal-use.otf");
}

@font-face {
    font-family: "wildflowers";
    src: url("~@/assets/fonts/wildflowers.otf");
}

@font-face {
    font-family: "wisdom-scrip";
    src: url("~@/assets/fonts/wisdom-scrip.otf");
}