@import "../variables";

.picker {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 50px auto 0 auto;
    flex-direction: column;
    max-width: 1000px;

    input {
        width: 100%;
    }

    &__section {
        width: 100%;
        margin: 25px 0;
        display: flex;
        flex-direction: column;
        align-items: start;

        .font-wrapper {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__instructions {
        font-size: large;
        font-weight: bold;
    }

    .font {
        width: 100%;
        margin: 10px 2.5%;
        box-shadow: 0 1px 5px 0 rgba(30, 30, 30, 0.3);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
            word-break: break-word;
            padding: 0 30px;
        }

        &:hover {
            box-shadow: 0 3px 10px -1px rgba(0, 0, 0, 0.4);
        }

        button {
            line-height: 45px;
            background-color: #e8e8e8;
            color: #000000;
            font-size: 16px;
            border: none;
            outline: 0;
            border-radius: 3px;
            padding: 0 15px;
            box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
            transition: transform .2s ease,background-color .2s ease;
            cursor: pointer;

            &:hover {
                background-color: rgb(115, 134, 118);
                color: #ffffff;
            }
        }
    }
}